<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Your Website</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about/">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact/">Contact</a>
                </li>

                <li class ="nav-item">
                    <a class="nav-link" href="signup/">SignUp</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <!-- Video Display Section -->
    <div class="container mt-4">
        <div class="row">
            <!-- Video 1 -->
            <div class="col-md-6 mb-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/video1" allowfullscreen></iframe>
                </div>
                <div class="text-center mt-2">
                    <button class="btn btn-primary mr-2">Download</button>
                    <button class="btn btn-secondary mr-2">Like</button>
                    <button class="btn btn-success mr-2">Play</button>
                    <button class="btn btn-danger mr-2">Pause</button>
                    <button class="btn btn-info">Share</button>
                </div>
            </div>
            <!-- Video 2 -->
            <div class="col-md-6 mb-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/video2" allowfullscreen></iframe>
                </div>
                <div class="text-center mt-2">
                    <button class="btn btn-primary mr-2">Download</button>
                    <button class="btn btn-secondary mr-2">Like</button>
                    <button class="btn btn-success mr-2">Play</button>
                    <button class="btn btn-danger mr-2">Pause</button>
                    <button class="btn btn-info">Share</button>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/video2" allowfullscreen></iframe>
                </div>
                <div class="text-center mt-2">
                    <button class="btn btn-primary mr-2">Download</button>
                    <button class="btn btn-secondary mr-2">Like</button>
                    <button class="btn btn-success mr-2">Play</button>
                    <button class="btn btn-danger mr-2">Pause</button>
                    <button class="btn btn-info">Share</button>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/video2" allowfullscreen></iframe>
                </div>
                <div class="text-center mt-2">
                    <button class="btn btn-primary mr-2">Download</button>
                    <button class="btn btn-secondary mr-2">Like</button>
                    <button class="btn btn-success mr-2">Play</button>
                    <button class="btn btn-danger mr-2">Pause</button>
                    <button class="btn btn-info">Share</button>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/video2" allowfullscreen></iframe>
                </div>
                <div class="text-center mt-2">
                    <button class="btn btn-primary mr-2">Download</button>
                    <button class="btn btn-secondary mr-2">Like</button>
                    <button class="btn btn-success mr-2">Play</button>
                    <button class="btn btn-danger mr-2">Pause</button>
                    <button class="btn btn-info">Share</button>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/video2" allowfullscreen></iframe>
                </div>
                <div class="text-center mt-2">
                    <button class="btn btn-primary mr-2">Download</button>
                    <button class="btn btn-secondary mr-2">Like</button>
                    <button class="btn btn-success mr-2">Play</button>
                    <button class="btn btn-danger mr-2">Pause</button>
                    <button class="btn btn-info">Share</button>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/video2" allowfullscreen></iframe>
                </div>
                <div class="text-center mt-2">
                    <button class="btn btn-primary mr-2">Download</button>
                    <button class="btn btn-secondary mr-2">Like</button>
                    <button class="btn btn-success mr-2">Play</button>
                    <button class="btn btn-danger mr-2">Pause</button>
                    <button class="btn btn-info">Share</button>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/video2" allowfullscreen></iframe>
                </div>
                <div class="text-center mt-2">
                    <button class="btn btn-primary mr-2">Download</button>
                    <button class="btn btn-secondary mr-2">Like</button>
                    <button class="btn btn-success mr-2">Play</button>
                    <button class="btn btn-danger mr-2">Pause</button>
                    <button class="btn btn-info">Share</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
