<!-- setting_page.html -->
{% extends "base.html" %}
{% load static %}

{% block title %}

{% endblock %}

{% block content %}
{% include "nav_bar.html" %}

<div class="container mt-4">
    <h1>Settings</h1>
    <!-- Dark Mode Toggle -->
    <div class="form-group">
        <label for="dark-mode-toggle">Dark Mode</label>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="dark-mode-toggle">
            <label class="custom-control-label" for="dark-mode-toggle">Toggle dark mode</label>
        </div>
    </div>

    <!-- Share Link -->
    <div class="form-group">
        <label for="share-link">Share Link</label>
        <input type="text" class="form-control" id="share-link" value="{% url 'home' %}" readonly>
        <button class="btn btn-primary mt-2" onclick="copyShareLink()">Copy Link</button>
    </div>

    <!-- Other settings and attributes -->
    <!-- Add other settings and attributes here -->
</div>

<script>
    function toggleDarkMode() {
        var darkModeToggle = document.getElementById("dark-mode-toggle");
        var isDarkMode = JSON.parse(localStorage.getItem("darkMode"));
    
        if (isDarkMode) {
            document.body.classList.add("dark-mode");
            darkModeToggle.checked = true;
        } else {
            document.body.classList.remove("dark-mode");
            darkModeToggle.checked = false;
        }
    }
    
    // Function to copy share link to clipboard
    function copyShareLink() {
        var shareLinkInput = document.getElementById("share-link");
        shareLinkInput.select();
        document.execCommand("copy");
        alert("Link copied to clipboard: " + shareLinkInput.value);
    }
    
    // Event listener for dark mode toggle
    document.getElementById("dark-mode-toggle").addEventListener("change", function() {
        var isDarkMode = this.checked;
        localStorage.setItem("darkMode", isDarkMode);
        toggleDarkMode();
    });
    
    // Apply dark mode on page load
    window.addEventListener("load", function() {
        toggleDarkMode();
    });
</script>

{% endblock %}
